extends layout

block content
  div(class="container-fluid mainCenter")
    div(class="row-fluid")
      div(class="span3 offset3")
        h2 General Info
        div#patientInfo
          label Today Date:
            span(class="date")
          label Current Time:
            span(class="clock")
          label Device status:
            span(class="deviceStatus")   
              button(class="btn" id="deviceStatusIndicator")
      div(class="span6")
          h2 Today Doses
          table.todayDoses
    br
    div(class="row-fluid mainCenter")
      div(class="span7 offset2")
        h3(class="center") Past Week Drug Taking Record
        table(class="table drugTakingRecord")
          tbody
            
  <!--Script-->
  script(src="/js/lib/jquery-min.js")
  script(src="/js/lib/common.js")

  
      
  